/* .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base, .mat-list-option, .mat-list-item-content
{
    display: inline !important;
} */

.mat-list-text{
    display: inline !important;
}

.footer{
position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   border-top: 1px solid #bbb;
   background: #e8e8e8;
}

