  <div class="footer">
    <ul style="list-style-type:none;">
      <li style="cursor: pointer;" routerLink="/search">Search SDS DB</li>
      <li style="cursor: pointer;" routerLink="/request">SDS Request</li>
      <li style="cursor: pointer;" routerLink="/contact-us">Help</li>
      <li style="cursor: pointer;" routerLink="/inventory-product">Inventory</li>
      <li style="cursor: pointer;" routerLink="/authority">Sites</li>
      <li style="cursor: pointer;" routerLink="/users">Users</li>
      <li style="cursor: pointer;" routerLink="/report">Reports</li>
    </ul>
    <p style="font-size: 13px; text-align: center; padding-bottom: 8px">© {{getCurrentDate()}} - Provincial Health Services Authority - OHS Solutions (IMITS)</p>
  </div>
